# Выгрузить все данные в xlsx в папку data

In [4]:
import pandas as pd
import sqlite3

with sqlite3.connect('chinook.db') as conn:

    #! df_albums = pd.read_sql('select')

    # Получаем названия всех таблиц
    tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
    name_tables = pd.read_sql(tables_query, conn)
    names_list = name_tables['name'].tolist()
  
    dataframes = {}

    for name in names_list:
        # Загружаем данные из таблицы и сохраняем в словаре
        dataframes[name] = pd.read_sql(f'SELECT * FROM {name}', conn).to_excel(f'data/{name}.xlsx', index=False)